.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Send a push notification to 
          span user
      .modal-body
        p Notification details
        form
            .form-group
            label(for='title') Title
            input#title.form-control(type='text', placeholder='Title of your push notification')
            .form-group
            label(for='message') Message
            input#message.form-control(type='text', placeholder='Message of your push notification')
        .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.js-send-notification-submit(type='button') Send notification
    // /.modal-content
  // /.modal-dialog
// /.modal
