extends layout

block content
  h2 user list
  hr
  .row
    .col-sm-12

      table.table
        thead
          tr
            th.col Email
            th.col Name
            th.col Actions
        tbody
          - for (user of users) {
            tr
              td.email 
                = user.email
              td.name
                = user.name
              td.action
                a.btn.btn-default(href='#', class='js-send-notification', role='button') Send notification
          - }

  include partials/modal